html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#intro-div {
    min-height: 100vh;
    background-color: black;
    text-align: center;
}

#image-div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
#img-caption {
    height: 100vh;
    font-family: "Lato", "Trebuchet", sans-serif;
    font-weight: bold;
    font-size: 6vmax;
    line-height: 100vh;
    text-align: center;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 5%;
    padding-right: 5%;
}

#tribute-div {
    min-height: 100vh;
    background-color: black;
    text-align: center;
}
.tribute-text {
    color: white;
    font-size: 3.5vmax;
    font-family: "Montserrat", "Trebuchet", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}


#title {
    color: white;
    font-family: "Major Mono Display", "Trebuchet", sans-serif;
    font-size: 10vmax;
    margin-bottom: 0;
}
.section-title {
    color: white;
    font-family: "Montserrat", "Trebuchet", sans-serif;
    font-size: 7vmax;
    margin-bottom: 0;
}
#subtitle {
    color: white;
    font-family: "Montserrat", "Trebuchet", sans-serif;
    font-size: 6vmax;
    margin-top: 0;
}
.play-button-outer {
    margin: 25% auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .play-button {
    margin: 0 auto;
    top: 25%;
    position: relative;  
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5em 0 2.5em 5em;
    border-color: transparent transparent transparent rgb(0, 0, 0);
    opacity: 1; 
  }
  .play-button-outer:hover {
    background-color: rgb(255, 251, 0);
  }
  .play-button-outer:hover .play-button {
    opacity: 1;
  }
@media only screen and (min-width: 1200px) {
    #title {
        font-size: 8vmax;
    }
    #subtitle {
        font-size: 4vmax;
    }
    #img-caption {
        font-size: 8vmin;
    }
    .section-title {
        font-size: 5vmax;
    }
    .tribute-text {
        font-size: 2.5vmax;
    }
    .play-button-outer {
        margin: 10% auto;
    }
}